.apps {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif; 
}

.jumbotron {
  margin: 0;
  background-color: black;
}

.card {
  margin-bottom: 20px;
}

.intro-card {
  padding: 80px 20px;
}

.first {
  margin-top: -200px; 
}

.footer {
  padding: 20px;
  text-align: center;
}

.fa-big {
  font-size: 5em;
  padding: 10px;
}

.desc {
  font-size: 0.8em;
}

.lower {
  margin-top: 40px;
}