.apps {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif; 
}

.text-title {
  font-size: 5em;
}

.logo {
  z-index: 100;
}

.jumbotron {
  margin: 0;
  background-color: black;
  height: 600px;
}

.card {
  margin-bottom: 20px;
  text-align: justify;
}

.intro-card {
  margin-top: -310px;
  padding: 80px 20px;
}

.first {
  margin-top: -450px; 
}

.featured {
  margin-left: -200px;
}

.footer {
  padding: 20px;
  text-align: center;
}

.fa-big {
  font-size: 5em;
  padding: 10px;
}

.desc {
  font-size: 0.8em;
}

.lower {
  margin-top: 40px;
}